:root{
    --fuenteHeading: 'Jost', sans-serif;
    --moztasa: #FEBB08;
    --negro: #000000;
    --rojo: #A12428;
    --blanco: #fff;
}
h1{
    font-family: var(--fuenteHeading);
}
p{
    font-family: var(--fuenteHeading);
    font-size: 400;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px*/
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteHeading);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.contenedor{
    max-width: 120rem;
    width: 90%;
    /* width: min(90%, 120rem); Lo mismo de las dos lineas de arriba */
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}

/* header */
.logo{
    width: 40%;
}
.logo_img{
    width: 30%;
}
@media (min-width: 450px) {
    .logo_img{
        width: 50%;
    }
}
.header{
    background-image: url(../images/Ventana_Principal/barranquilla-4083260_960_720.jpg);
    height: 80rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
.header__texto h2{
    font-size: 90px;
}
.header__texto p{
    font-size: 40px;
}

@media (max-width: 768px) {
    .header__texto h2{
        font-size: 60px;
    }
    .header__texto p{
        font-size: 20px;
    }
}
@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }
}

.barra{
    padding-top: 4rem;
}
@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.navegacion{
    display: flex;
    justify-content: center;
    gap: 2rem;
}


.navegacion__enlace{
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
    color: var(--negro);
    margin-right: 2rem;
}
