:root{
    --fuenteHeading: 'Jost', sans-serif;
    --moztasa: #FEBB08;
    --negro: #000000;
    --rojo: #A12428;
    --blanco: #fff;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px*/
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteHeading);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
}

/* Globales */
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
    margin: 0;
}
p{
    font-family: var(--fuenteHeading);
    font-size: 400;
    margin: 0;
}

/* Contenedor */
.contenedor{
    width: 90%;
    margin: 0 auto;
}
/* header */
.header{
    background-image: url(../images/Ventana_Principal/barranquilla-4083260_960_720.jpg);
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 10rem;
}
@media (max-width: 768px) {
    .header__texto{
        margin-top: 28rem;
    }
    .header{
        height: 70rem;
    }
}
.header__texto h2{
    font-size: 7rem;
    text-transform: uppercase;
}
.header__texto h3{
    font-size: 3rem;
}

@media (max-width: 768px ) {
    .header__texto h2{
        font-size: 5rem;
    }
    .header__texto h3{
        font-size: 2rem;
    }
}
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}
@media (max-width: 768px ) {
    .barra{
        flex-direction: column;
    }
}
.navegacion{
    /* background: chocolate;    */
    display: flex;
    align-items: center;
}
.navegacion a{
    /* margin-right: 2.5rem; */
    margin: 0 2.5rem 0 0;
    color: var(--negro);
    font-size: 2rem;
    width: 50%;
}
.navegacion a:hover{
    color: var(--blanco);
}
.navegacion .navegacion__enlace:last-child{
    margin-top: 10px;
}

@media (max-width: 768px) {
    .navegacion .navegacion__enlace:last-child{
        margin-top: 0px;
        margin-left: 26px;
    }
}
.barra>a{
    margin: 0;
}
.cont-logo{
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo img{
    /* margin: 0; */
    margin-top: 20px;
    width: 195.281px;
    height: 75.016px;
    object-fit: cover;
}
@media (max-width: 768px) {
    .logo{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .logo img{
       width: 170.094px;
       height: 75.016px;
       margin: initial;
    }
    .navegacion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.informacion-botones{
    height: 2rem;
    padding: 2rem 0rem;
}
.informacion-botones .boton{
    font-family: var(--fuenteHeading);
    padding: 1rem 3rem;
    color: var(--blanco);
    background: var(--moztasa);
    border-radius: 4rem;
    border: .5px solid var(--negro);
} 
.informacion-botones .boton:hover{
    cursor: pointer;
    background: gray;
}

@media (max-width: 768px) {
    .informacion-botones{
        display: flex;
        flex-direction: column;
    }
    .informacion-botones .boton{
        margin-bottom: .5rem;
    }
}
.frase{
    background: var(--moztasa);
    height: 15rem;
}
.cont-frase{
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-frase{
    text-align: center;
}
.contenedor-frase h2{
    text-transform: uppercase;
    font-weight: bold;
}

/* Información General */
.general-info{
    background-image: var(--blanco);
}

.bq-logo{
    text-align: center;
}
.bq-logo img{
    width: 7%;
    margin: 0;
}
@media (max-width: 768px) {
    .bq-logo img{
        width: 20%;
    }
}
.info-title{
    padding-top: 4rem;
    text-align: center;
}
.info-title h2{
    text-transform: uppercase;
}

/* Columnas */
.informacion-columnas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: 2rem auto;
}
@media (max-width: 768px) {
    .informacion-columnas{
        grid-template-columns: 1fr;
    }
}

.fila-informacion img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fila-informacion .info-galeria{
    width: 90%;
    margin: 2rem auto;
}
.fila-informacion .info-galeria h4{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.fila-informacion .info-galeria p{
    text-align: justify;
    line-height: 2.7rem;
    margin-bottom: 1rem;
}

.enlace-leermas{
text-align: center;
}

.info-galeria a{
    position: relative;
    color: var(--negro);
    text-transform: uppercase;
    text-align: center;
}
.info-galeria a svg{
    position: absolute;
}

/* ¿Por qué turistear Barranquilla? */
.why-turistear{
    background-image: url(../images/Galeria/congos-carnaval.webp);
    width: 100%;
    /* height: 60rem; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
@media (max-width: 768px) {
    .logo-why{
        text-align: center;
    }
}   
.logo-why img{
    width: 170.094px;
    height: 75.016px;
}
.porque-turi{
    text-align: center;
}
.porque-turi h1{
    font-size: 4rem;
}
.porque-turi p{
    padding: 1rem 9rem;
    font-size: 2rem;
}
.personaje-quote{
    text-align: left;
    color: red;
    margin-left: 1.5rem;
}

@media (max-width: 768px) {
    .porque-turi h1{
        font-size: 3rem;
    }
    .porque-turi p{
        /* padding: 0 7rem; */
        font-size: 1.5rem;
    }
    
}
.lugares-why{
    background: var(--moztasa);
}
.galeria-why{
    padding-top: .5rem;
    display: flex;
    /* justify-content: space-between;
    align-items: center;
    gap: 2rem; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 3rem;
}
@media (max-width: 768px ) {
    .galeria-why{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        
    }
}
.galeria-lugar{
    margin: 2rem 0;
    border: 1rem solid var(--blanco);
}
.galeria-lugar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* About us */

.about-us > h2{
    margin: 3rem 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.workers{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 1rem;
    align-items: center;
    margin-bottom: 5rem;
}

@media (max-width: 768px) {
    .workers{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
    }
}

.worker{
    text-align: center;
}
.worker h3{
    font-weight: normal;
}
.worker .correo-worker{
    display: flex;
    justify-content: center;
    gap: .5rem;
}
.worker .phone-worker{
    display: flex;
    justify-content: center;
    gap: .5rem;
}
footer{
    background: var(--negro);
}
.logo-footer{
    text-align: center;
}
.logo-footer img{
    width: 170.094px;
    height: 75.016px;
    margin-top: 2rem;
}
.logos-footer{
    text-align: center;
}
footer h3{
    color: var(--blanco);
    font-weight: normal;
    text-align: center;
    padding: 2rem 0;
}


