body {
    margin: 0;
    padding: 0;
}

.Izquierda{
    background: url(../img/iglesia.jpg);
    background-size: cover;
    background-position:center ;
    width: 50%;
    height: 100vh;
  
}
.Derecha{
   background:#ffc107;
   height: 100vh;
   width: 50%;
  

}
#pantalla-dividida{
    display: flex;
}

h1{
color: #fff;
font-size: 20px;
margin: auto;
margin-bottom: 40px;
margin-left: 160px;
margin-top: 100px;
}
a{
    font-size: 10px;
    border: 2px solid #fff;
    padding: 14px 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px; 
    width: 138px;
    height: 8px;
    margin-left: 20px;
}
.link{
    text-align: center;
    
    
    
}

.control{
    width: 50%;
    padding: 14px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: rgba(71, 70, 70, 0.096);
    border: none;
    font-size: 10px;
    font-weight: lighter;
    margin-left: 160px;
    color: rgba(255, 255, 255, 0.425);

    

}

.boton{
    width: 54.8%;
    padding: 14px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: rgba(43, 43, 43, 0.493);
    border: none;
    font-size: 11px;
    font-weight: bold;
    margin-left: 160px;
    margin-top: 15px;
    color: #fff;

}
.h2{
 color: #fff;
 font-size: 10px;
 margin-left: 160px;
 font-size: 13px;
 font-weight: lighter;
}
.h3{
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    margin-top: 40px;
    margin-left: 25px;
}
.h4{
    color: #fff;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 40px;
   margin-left: 50px;
}

.h5{
    color: #fff;
    font-size: 13px;
   font-weight: bold;
    border: none;
    margin-top: 40px;
    margin-left: -35px;
    
    
}
.link2{
    text-align: center;
}
.b{

margin-left: 250px;
display: inline-block;
text-align: right;
font-size: 17px;
margin:4px 2px;
cursor: pointer;
color: rgba(255, 255, 255, 0.514);

  
}